# Docker
M_PORT=3000
CONTAINER_NAME=auth
NETWORK_NAME=auth_network
PORT=3000
PROJECT_NAME=auth

# MYSQL
MYSQL_USER=root
MYSQL_PASSWORD=12qwaszx
MYSQL_DATABASE=auth
MYSQL_HOST=auth-mysqldb
MYSQL_PORT=3306

# REDIS
REDIS_PORT=6379

#JWT
JWT_ACCESS_TOKEN_SECRET=secret
JWT_ACCESS_TOKEN_EXPIRATION_TIME="7d"

#Mail
MAIL_HOST=smtp.xxx.com
MAIL_PORT=587
MAIL_USER=xx.xxxx@xxx.com
MAIL_PASS=xxxx


#Encryption
ENCRYPTION_KEY=xxxxx
IV_KEY=xxxx

#Verify
TOKEN_EXPIRATION_TIME="3d"